<?xml version="1.0"?>
<languages>
  <clear/>
  <!--<add name="Default"
      connectionString="Data Source=NAMTH\SQLEXRESS_2008R2;Initial Catalog=PyramidVN;Persist Security Info=True;User ID=sa;Password=1234;"
       providerName="System.Data.SqlClient"/>-->
  <add name="vi-VN" default="true"/>
  <add name="en-US" default="false"/>
</languages>