<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="languageSetting" type="Artnman.Core.Setting.LanguageSetting, Artnman.Core" />
  </configSections>
  <!--Language settings // Start-->
  <languageSetting defaultLanguage="vi-VN" secondLanguage="en-US" />
  <!--Language settings // End-->
  <system.web>
    <globalization culture="vi-VN" uiCulture="vi" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off"/>
    <pages theme="Default" validateRequest="false">
    </pages>
  </system.web>
</configuration>