<?xml version="1.0"?>

<appSettings>

  <!-- Site settings -->
  <add key="SITE_URL" value="http://localhost:10031"/>
  <add key="SITE_TITLE" value="Edumax"/>
  <add key="SITE_ADMIN_TITLE" value="ZUNE Administration Panel"/>
  <add key="SITE_META_TAG_DESCRIPTION" value=""/>
  <add key="SITE_META_TAG_KEYWORDS" value=""/>
  <add key="SITE_META_TAG_GENERATOR" value="Copyright (C) 2007-2011. ZuneTH [http://zuneth.net]"/>
  <add key="SITE_META_TAG_COPYRIGHT" value="[http://zuneth.net]"/>
  <add key="SITE_META_TAG_AUTHOR" value="[http://zuneth.net]"/>
  <add key="SITE_META_TAG_PUBLISHER" value="[http://zuneth.net]"/>
  <add key="SITE_META_TAG_PAGE_TOPIC" value="Computer/Internet"/>
  <add key="SITE_META_TAG_PAGE_TYPE" value="Commercial"/>

  <add key="SITE_META_TAG_AUDIENCE" value="all"/>
  <add key="SITE_META_TAG_EXPIRES" value="never"/>
  <add key="SITE_META_TAG_ROBOTS" value="index, follow"/>
  <add key="SITE_META_TAG_VERIFY_V1" value=""/>
  <add key="SITE_META_TAG_Y_KEY" value=""/>
  <add key="THEME_NAME" value="Default"/>

  <!-- Mail settings -->
  <add key="MAIL_CONTACT" value="namth91@gmail.com"/>
  <add key="MAIL_TECHNICAL_SUPPORT" value="namth91@gmail.com"/>

  <add key="MAIL_SMTP" value="smtp.gmail.com"/>
  <add key="MAIL_PORT" value="587"/>
  <add key="MAIL_SSL" value="true"/>
  <add key="MAIL_FROM" value="edumax.edu.vn@gmail.com"/>
  <add key="MAIL_PASSWORD" value="f846c62982d5"/>
  <add key="MAIL_CC" value=""/>
  <add key="MAIL_BCC" value=""/>

  <!-- Yahoo, Skype... -->
  <add key="YAHOO_NUMBER" value="0"/>
  <add key="YAHOO_MESSENGER_00" value="0"/>
  <add key="SKYPE_NUMBER" value="0"/>
  <add key="SKYPE_00" value=""/>

  <!-- Google Analystics -->
  <add key="GOOGLE_ANALYSTICS" value="UA-23063462-1"/>
  <add key="GOOGLE_ANALYSTICS_DOMAIN_NAME" value=".edumax.edu.vn"/>
  
  <!-- Home Page -->
  <add key="" value=""/>
  
  <!-- Test -->
  <add key="NUMBER_QUESTIONS" value="10"/>
  <add key="GUEST_ALLOWED" value="1"/>
  <!-- Text -->
  <add key="TRUNCATED_TEXT_SIZE" value="300"/>
  <!-- Number of Sessions in Term-->
  <add key="NUMBER_OF_SESSIONS" value="25"/>

  <!-- Phong Hanh Chinh Department  => Phong Hanh Chinh Role -->
  <add key="40565F74-3E63-474D-95C6-DBF20F1216D6" value="7988EDF1-13E8-4E63-BC91-DD9E1E0138C8"/>
  <add key="26B98B4D-07FB-490D-946B-C1E85BF21A80" value="B4616E5D-E7D8-471B-B29E-32C759221D39"/>
  <add key="B04714BC-D767-413F-992B-F1FF6786ECDE" value="927F3664-4007-4CD2-B8DD-18BD6DB473F3"/>

  <!-- Share event color-->
  <add key="ShareEventColor" value="#DDDFFF"/>
  <add key="PersonalEventColor" value="#FFFDDD"/>
</appSettings>