<?xml version="1.0"?>

<connectionStrings>
  <clear/>
  <add name="CoreEntities" 
       connectionString="metadata=res://*/Models.TridentCoreEntities.csdl|res://*/Models.TridentCoreEntities.ssdl|res://*/Models.TridentCoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAMTH-PC\SQL_101600;initial catalog=TridentCore;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CommerceEntities" 
       connectionString="metadata=res://*/Model.CommerceEntities.csdl|res://*/Model.CommerceEntities.ssdl|res://*/Model.CommerceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAMTH-PC\SQL_101600;initial catalog=PyramidVN;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="NewsEntities" 
       connectionString="metadata=res://*/Model.NewsEntities.csdl|res://*/Model.NewsEntities.ssdl|res://*/Model.NewsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAMTH-PC\SQL_101600;initial catalog=PyramidVN;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ContentEntities" 
       connectionString="metadata=res://*/Model.ContentEntities.csdl|res://*/Model.ContentEntities.ssdl|res://*/Model.ContentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAMTH-PC\SQL_101600;initial catalog=PyramidVN;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ApplicationServices" 
       connectionString="Data Source=NAMTH-PC\SQL_101600;Initial Catalog=PyramidVN;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="LocalSqlServer" 
       connectionString="Data Source=NAMTH-PC\SQL_101600;Initial Catalog=PyramidVN;Integrated Security=True" providerName="System.Data.SqlClient"/>

  <!--<add name="CoreEntities" 
       connectionString="metadata=res://*/Models.TridentCoreEntities.csdl|res://*/Models.TridentCoreEntities.ssdl|res://*/Models.TridentCoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.230.6;initial catalog=pyramidvietnam_vn_db2;persist security info=True;user id=pyramidvietnam_vn_db2;password=pyramidvietnam123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="CommerceEntities" 
       connectionString="metadata=res://*/Model.CommerceEntities.csdl|res://*/Model.CommerceEntities.ssdl|res://*/Model.CommerceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.230.6;initial catalog=pyramidvietnam_vn_db2;persist security info=True;user id=pyramidvietnam_vn_db2;password=pyramidvietnam123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="NewsEntities" 
       connectionString="metadata=res://*/Model.NewsEntities.csdl|res://*/Model.NewsEntities.ssdl|res://*/Model.NewsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.230.6;initial catalog=TridentNews;user id=pyramidvietnam_vn_db2;password=pyramidvietnam123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ContentEntities" 
       connectionString="metadata=res://*/Model.ContentEntities.csdl|res://*/Model.ContentEntities.ssdl|res://*/Model.ContentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.230.6;initial catalog=pyramidvietnam_vn_db2;persist security info=True;user id=pyramidvietnam_vn_db2;password=pyramidvietnam123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ApplicationServices" 
       connectionString="Data Source=172.16.230.6;Initial Catalog=pyramidvietnam_vn_db2;Persist Security Info=True;User ID=pyramidvietnam_vn_db2;Password=pyramidvietnam123" providerName="System.Data.SqlClient"/>
  <add name="LocalSqlServer"  
       connectionString="Data Source=172.16.230.6;Initial Catalog=pyramidvietnam_vn_db2;Persist Security Info=True;User ID=pyramidvietnam_vn_db2;Password=pyramidvietnam123" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
