<?xml version="1.0"?>

<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="RewriteHomePageML" virtualUrl="^http\://(.*)/(.*)/Home.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Home.aspx?language=$2" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteNewsPageMLVi" virtualUrl="^http\://(.*)/vi/News.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/NewsRSS.aspx" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteNewsPageMLEn" virtualUrl="^http\://(.*)/en/News.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/NewsRSSEn.aspx" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteSearchPageML" virtualUrl="^http\://(.*)/(.*)/Search.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Search.aspx" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteErrorPage" virtualUrl="^http\://(.*)/Error.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Error.aspx" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteUpdatePage" virtualUrl="^http\://(.*)/(.*)/Updating.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Updating.aspx" rewrite="Domain" ignoreCase="true"/>
    
    <!--Dynamic Page // Start-->
    <add name="RewriteProductPageML" virtualUrl="^http\://(.*)/(.*)/Products/(.*)/(.*)/View.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Product.aspx?language=$2&amp;key=$4" rewrite="Domain" ignoreCase="true"/>

    <add name="RewriteProductCategoriesPageML1" virtualUrl="^http\://(.*)/(.*)/ProductCategories.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/ProductCategories.aspx?language=$2" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteProductCategoriesPageML2" virtualUrl="^http\://(.*)/(.*)/ProductCategories/(.*)/(.*)/View.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/ProductCategories.aspx?language=$2&amp;key=$4" rewrite="Domain" ignoreCase="true"/>

    <add name="RewriteProductDetailsPageML" virtualUrl="^http\://(.*)/(.*)/ProductDetails/(.*)/(.*)/View.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/ProductDetails.aspx?language=$2&amp;key=$4" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteProductSearchPageML" virtualUrl="^http\://(.*)/(.*)/SearchProduct/(.*)/View.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/ProductSearch.aspx?language=$2&amp;key=$3" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteSolutionsPageML" virtualUrl="^http\://(.*)/(.*)/Solutions/(.*)/(.*)/View.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Content.aspx?language=$2&amp;key=$4" rewrite="Domain" ignoreCase="true"/>
    
    <!--Static content page with fixed ID // Start-->
    <add name="RewriteStaticPage_AboutUsML" virtualUrl="^http\://(.*)/(.*)/AboutUs.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Content.aspx?language=$2&amp;key=575b74ae-e4cc-11e0-94ef-4f904824019b" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteStaticPage_ContactML" virtualUrl="^http\://(.*)/(.*)/Contact.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Content.aspx?language=$2&amp;key=f3ac813b-6acb-4f4b-bb79-044bf9de72d8" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteStaticPage_ProjectML" virtualUrl="^http\://(.*)/(.*)/Projects.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Content.aspx?language=$2&amp;key=FBF11100-78FB-42A1-B1D3-4BE3220BEE50" rewrite="Domain" ignoreCase="true"/>
    <add name="RewriteStaticPage_RecuitmentML" virtualUrl="^http\://(.*)/(.*)/Recuitment.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Page/Content.aspx?language=$2&amp;key=CAF61ADB-F8FD-44C7-81D1-07F890769F67" rewrite="Domain" ignoreCase="true"/>
  </rewrites>
</urlrewritingnet>